{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2 style="color: #f08632;">Special offer</h2>
                            <h2>10% off on all chocolate cakes!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2 style="color: #f08632;">Special offer</h2>
                            <h2>5% Discount on all cakes this weekend!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="section-title">
            <h2>New products!</h2>
        </div>
        <div class="row">
            {% for pro in products|slice:':4' %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product_item_pic set-bg" data-setbg="{{pro.photo.url}}">
                        <div class="product__label">
                            <span>SAR {{pro.price}}</span>
                        </div>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">{{pro.name}}</a></h6>
                        <p>{{pro.description}}</p>
                        <br>
                        <div class="cart_add">
                            <a href="#">Show details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="section-title">
            <h2>All products</h2>
        </div>
        <div class="row">
            {% for pro in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product_item_pic set-bg" data-setbg="{{pro.photo.url}}">
                        <div class="product__label">
                            <span>SAR {{pro.price}}</span>
                        </div>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">{{pro.name}}</a></h6>
                        <p>{{pro.description}}</p>
                        <br>
                        <div class="cart_add">
                            <a href="#">Show details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock %}