{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="containerr">
    <input type="checkbox" id="check">
    <div class="registration form">
      <header>Signup</header>
      {%include 'partials/_alert.html'%}

      {%if is_added == True %}
      <form method="post" action="#" style="display: none;">
      {%else%}
      <form method="post">
      {%endif%}

        {% csrf_token %}
        <input type="text" name='email' id="inputEmail" placeholder="Enter your email" value="{{email}}" required>
        <input type="text" name='user' id="inputUsername" placeholder="Create a Username" value="{{user}}" required>
        <input type="password" name="pass" id="inputPassword" placeholder="Create a password" value="{{pass}}" required>
        
        <input type="submit" name="btnup" class="btn btn-warning" value="Sign Up" style="  color: #fff;
        background: #f08632;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 1.7rem;
        cursor: pointer;
        transition: 0.4s;">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <a href="{% url 'signin' %}">Login</a>
        </span>
      </div>
    </div>
</div>
{% endblock %}